<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hawesome.bleconnector">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".view.BCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BleConnector">
        <activity android:name=".view.device.log.LogExtraActivity"></activity>
        <activity android:name=".view.device.log.LogActivity" />
        <activity
            android:name=".view.device.ConfirmActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".view.device.ParamActivity" />
        <activity android:name=".view.CanvasActivity" />
        <activity android:name=".view.device.SecondaryActivity" />
        <activity android:name=".view.device.DeviceActivity" />
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>